@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Facelook Corp<br />
    Israel, Bugrashov 51 TLV<br />
    <abbr title="Phone">Phone:</abbr>
    +972-771212345
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@facelook.com">Support@facelook.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@facelook.com">Marketing@facelook.com</a>
</address>