@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/LayoutCSS.css" rel="stylesheet" />
<link href="~/Content/HomeIndexCSS.css" rel="stylesheet" />

<div class="jumbotron">
    @*<h1>FaceL👀k</h1>*@
    <h1 id="titleID">Facel<img src="https://media.tenor.com/images/a507d6519065e444ce004fa2f37f2689/tenor.gif" width="75" height="75" />k</h1>
    <p class="lead">Connect with friends and the world around you on Facelook.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>photos and updates</h2>
        <p>
            See photos and updates from friends in News Feed.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Share what's new</h2>
        <p> Share what's new in your life on your Timeline.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Find more</h2>
        <p>Find more of what you're looking for with Facebook Search.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>