@using UI.Models

@{
    ViewBag.Title = "MainPageAfterLogin";
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
}

<h2>
    Facel<img src="https://media.tenor.com/images/a507d6519065e444ce004fa2f37f2689/tenor.gif"
              width="60" height="60" />k - Main page
</h2><hr />

@{
    Html.RenderPartial("CreatePost");
}



    <div class="panel panel-success" style="width:750px">
        <div class="panel-heading">
            <img src="~/Images/MyImage2.png" class="img-circle" alt="Cinque Terre" width="28" height="34">
            Post from - Shay Shabtay, at 9:00 AM, 15/01/2019
        </div>
        <div class="panel-body">Hey Everyone, Im also use in facelook...</div>
        <div class="panel-footer">
            <div class="row" style="text-align:center">
                <div class="col-sm-4">
                    <button type="button" class="btn btn-default" style="color:blue">
                        <i class="far fa-thumbs-up" onclick="AddComment()"></i>&ensp;
                        <span>Like!!</span>
                    </button>
                </div>
                <div class="col-sm-4">
                    <button type="button" class="btn btn-default" onclick="AddComment()" style="color:brown">
                         <i class="far fa-comment"></i>&ensp;
                        <span>Comment</span>
                    </button>
                </div>
                <div class="col-sm-4">
                    @*fas fa-ban btn*@
                    <button type="button" class="btn btn-default" style="color:red">
                        <i class="fa fa-ban"></i>&ensp;
                        <span>Block This User</span>
                    </button>
                    @*<i class="fa fa-ban" style="color:red">Block This User</i>*@
                </div>
            </div>
            <div id="writeCommentID" style="display:none">
                <hr />
                <input class="col-md-6" placeholder="Write a Comment..." style="background-color:white" />&ensp;
                <button type="submit" class="btn btn-success">Send</button> &ensp;
                <button type="button" class="btn btn-danger" onclick="CommentNone()"> Cancel Comment </button>
            </div>
        </div>
    </div>



<br /><br /><br /><br />

<style>
    .custom-file-input::-webkit-file-upload-button {
        visibility: hidden;
    }

    .custom-file-input::before {
        content: 'Add Photo';
        display: inline-block;
        background-color: yellow; /*linear-gradient(top, #f9f9f9, #e3e3e3);*/
        border: 1px solid #999;
        border-radius: 3px;
        padding: 5px 8px;
        outline: none;
        white-space: nowrap;
        -webkit-user-select: none;
        cursor: pointer;
        text-shadow: 1px 1px #fff;
        font-weight: 700;
        font-size: 11pt;
        float: left;
    }

    .custom-file-input:hover::before {
        border-color: black;
    }

    .custom-file-input:active::before {
        background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
    }

    input {
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
    }
</style>

<script>
    var addComment = document.getElementById("writeCommentID");

    function AddComment() {
        addComment.style.display = "inline";
    }
    function CommentNone() {
        addComment.style.display = "none";
    }
</script>