@using UI.Models
@{
    ViewBag.Title = "MainPageAfterLogin";
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
}

<h2>
    Facel<img src="https://media.tenor.com/images/a507d6519065e444ce004fa2f37f2689/tenor.gif"
              width="60" height="60" />k - Main page
</h2><hr />

<!-- Trigger the modal with a button -->
<div class="container">
    <div class="panel panel-primary" data-toggle="modal" data-target="#myModal"
         style="width:750px">
        <div class="panel-heading">Create Post</div>

        <div class="panel-body">
            <div class="text-muted">
                What's on yout mind...? <br />
            </div>
            <hr />
            <button type="button" class="btn btn-primary">Share</button>
            <button type="button" class="btn btn-success">Add Photo</button>
            <button type="button" class="btn btn-info">Tag Friends</button>
        </div>

    </div>
</div>

<!-- Modal -->
@{
    @Html.BeginForm()

    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Create Post</h4>
                </div>
                <div class="modal-body">
                    <textarea rows="5" placeholder="Share everyone - What's on yout mind?" class="form-control" style="min-width: 90%; min-height: 80%"></textarea>
                </div>
                <div class="modal-footer">
                    <div class="input-group-btn width100">
                        <input type="file" class="custom-file-input">
                        <button type="submit" class="btn btn-primary">Share</button>
                        <button type="button" class="btn btn-info">Tag Friends</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal" style="float:right;">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="panel panel-success" style="width:750px">
        <div class="panel-heading">
            <img src="~/Images/MyImage2.png" class="img-circle" alt="Cinque Terre" width="28" height="34">
            Post from - Shay Shabtay, at 9:00 AM, 15/01/2019
        </div>
        <div class="panel-body">Hey Everyone, Im also use in facelook...</div>
        <div class="panel-footer">
            <div class="row" style="text-align:center">
                <div class="col-sm-4">
                    <i class="far fa-thumbs-up btn" style="color:blue">Like!!</i>
                </div>
                <div class="col-sm-4">
                    <i class="far fa-comment btn" style="color:brown" onclick="AddComment()">Comment</i>
                </div>
                <div class="col-sm-4">
                    @*fas fa-ban btn*@
                    <i class="far fa-ban btn" style="color:red">Block This User</i>
                </div>
            </div>
            <div id="writeCommentID" style="display:none">
                <hr />
                &emsp;&emsp;&emsp;<input class="col-md-6" placeholder="Write a Comment..." style="background-color:white" />
            </div>
        </div>
    </div>
}


<br /><br /><br /><br />

<style>
    .custom-file-input::-webkit-file-upload-button {
        visibility: hidden;
    }

    .custom-file-input::before {
        content: 'Add Photo';
        display: inline-block;
        background-color: yellow; /*linear-gradient(top, #f9f9f9, #e3e3e3);*/
        border: 1px solid #999;
        border-radius: 3px;
        padding: 5px 8px;
        outline: none;
        white-space: nowrap;
        -webkit-user-select: none;
        cursor: pointer;
        text-shadow: 1px 1px #fff;
        font-weight: 700;
        font-size: 11pt;
        float: left;
    }

    .custom-file-input:hover::before {
        border-color: black;
    }

    .custom-file-input:active::before {
        background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
    }

    input {
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
    }
</style>

<script>
    var addComment = document.getElementById("writeCommentID");

    function AddComment() {
        addComment.style.display = "inline";
    }
</script>