@using UI.Models

@{
    ViewBag.Title = "MainPageAfterLogin";
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
}
<h2>
    Facel<img src="https://media.tenor.com/images/a507d6519065e444ce004fa2f37f2689/tenor.gif"
              width="60" height="60" />k - Main page
</h2><hr />

@{
    Html.RenderPartial("CreatePost");
}

@{
    Html.RenderAction("GetFeed","Social");
}

<br /><br /><br /><br />

<style>
    .custom-file-input::-webkit-file-upload-button {
        visibility: hidden;
    }

    .custom-file-input::before {
        content: 'Add Photo';
        display: inline-block;
        background-color: yellow; /*linear-gradient(top, #f9f9f9, #e3e3e3);*/
        border: 1px solid #999;
        border-radius: 3px;
        padding: 5px 8px;
        outline: none;
        white-space: nowrap;
        -webkit-user-select: none;
        cursor: pointer;
        text-shadow: 1px 1px #fff;
        font-weight: 700;
        font-size: 11pt;
        float: left;
    }

    .custom-file-input:hover::before {
        border-color: black;
    }

    .custom-file-input:active::before {
        background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
    }

    input {
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
    }
</style>

