@model IEnumerable<UI.Models.UserDTO>

@{
    ViewBag.Title = "GetBlockUsers";
    //Layout = "~/Views/Shared/_MainPageLayout.cshtml";
}

<h2>My blocked users list:</h2>

@if (Model != null && Model.Count() != 0)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Options
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Unblock", "UnBlockUser", new { targetUserId = item.UserId }) |
            </td>
        </tr>
        }
    </table>
}
else
{
    <h2>You dont have any blocked users.</h2>
}
<br />
<br />

<div>
    <a href="javascript:void(0);" onclick="history.go(-1);">Back to Previous page</a>
</div>

