body {
}
#navbarID {
    background-color:royalblue;
    color: white;
    font-size:18px;
    

}

#FacelookApplicationID{
    color:white;
    font-size:36px;
    font-style:oblique;
}

#MenuNavbarID {
    color: white;
}

#logoutForm {
    color: white;
}

#registerLink {
    color: white;
}

#loginLink {
    color: white;
}
 #UserIdentityID {
    color: white;
}
#LogOffID {
    color: white;
}

ul{
    color:white;
}


