<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AWSProfileName" value="Shay" />
    <add key="AWSRegion" value="eu-west-1" />
    <add key="AWSAccessKey" value="AKIAJTPIWYKD52OFZTHA"/>
    <add key="AWSSecretKey" value="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"/>
  </appSettings>
</configuration>