@model UI.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<h3>Use Facebook service to log in.</h3>
<hr />
<div>

    <div id="fb-root"></div>
    <script src="@Url.Content("~/Scripts/FACBOOKJavaScript.js")" type="text/javascript"></script>
    <script type="text/javascript">
        initFacebook();
    </script>
    @*<script src = "~/Scripts/FACBOOKJavaScript.js" ></script>*@
    <div class="fb-login-button" onlogin="javascript: Facebook_LoggedIn();"
         data-scope="public_profile, email, user_location, user_birthday" data-max-rows="1" 
         data-size="large"  data-button-type="login_with" data-show-faces="true"
         data-auto-logout-link="true" data-use-continue-as="true"></div>

</div>